<h1>Devices</h1>

<% @remote_devices.each do |remote_device| %>
  <div>
    <%= erb :"remote_devices/_display_remote_#{remote_device.type.downcase}", locals: {remote_device: remote_device} %>
    <a href="/remote_device/<%= remote_device.id %>">Show</a>
    &middot;
    <a href="/remote_device/<%= remote_device.id %>/edit">Edit</a>
  </div>
<% end %>
